{% extends 'base.html' %}

{% block title %}
    <title>My Organizations</title>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>{{organization.name}}</h1>
    </br>
    <form class="form-horizontal" method="GET" action="{{url_for('add_member', org_id=organization.id)}}">
    <div class="form-group">
    <h2>
    Members:
    <button class="btn-large btn-success pull-right" type="submit">Add Member</button>
    </h2>
    </div>
    </form>
    </br>
    <table class="table table-striped span2">
        <tr>
            <th>Members</th>
            <th>Rank</th>
        </tr>
        {% for member in members %}
        <tr style="border-radius:10px">
            <td>{{ member.user.name }}</td>
            <td>{{ member.rank }}</td>
        </tr>
        {% endfor %}
    </table>
    </br></br>



    <!--    This is where we begin doing spans       -->

    <div class="span12">
        <div class="span6">
            <ul>
                {% for folder in folders %}
                <li><a href={{url_for('get_folder', folder_id=folder_id)}}>{{folder.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span6">
            <form class="form-horizontal" method="GET" action="{{url_for('upload_file', org_id=organization.id)}}">
                <div class="form-group">
                    <h2>
                        Files:
                        <button class="btn-large btn-primary pull-right" type="submit">Upload!</button>
                    </h2>
                </div>
            </form>
            </br>
            {% if recent_files %}
            <table class="table table-striped span2">
                <tr>
                    <th>Author</th>
                    <th>Course</th>
                    <th>Term</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                {% for file in recent_files %}
                <tr style="border-radius:10px">
                <form method="POST" action="{{url_for('download', file_name=file.file_name)}}">
                    <td>{{file.author.name}}</td>
                    <td>{{file.course}}</td>
                    <td>{{file.term}}</td>
                    <td>{{file.file_name}}</td>
                    <td><button class="btn" type="submit">Download</td>
                </form>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <em>There are no files yet....</em>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
