{% extends 'base.html' %}

{% block title %}
    <title>My Organizations</title>
{% endblock %}

{% block content %}
    <h1>{{organization.name}}</h1>
    </br>
    </br>
    {% if g.user.id == organization.admin_id %}
    <form class="form-horizontal" method="GET" action="{{url_for('add_member', org_id=organization.id)}}">
        <div class="form-group">
            <h2>
            Members:
            <button class="btn-large btn-success pull-right" type="submit">Add Member</button>
            </h2>
        </div>
    </form>
    {% else %}
    <h2>
    Members:
    </h2>
    {% endif %}
    </br>
    <table id="members" class="table table-striped">
        <tr>
            <th>Members</th>
            <th>Rank</th>
            {% if member.user.id == organization.admin_id %}
            <th style="text-align:right"></th>
            {% endif %}
        </tr>
        {% for member in members %}
        <tr style="border-radius:10px">
            {% if g.user.id == member.user.id %}
                <td>{{member.user.name}}</td>
            {% else %}
                <td><a href="/{{g.user.id}}/{{member.user.id}}/conversation" class="marginized">{{member.user.name}}</a></td>
            {% endif %}
            <td>{{ member.rank }}</td>
            {% if member.user.id == organization.admin_id %}
            <td style="text-align:right">
                <button name="delete" value="{{member.user.id}}" class="btn-danger btn">X</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </br></br>
    <div class="row-fluid">
        <div class="span3">
            <h2>
            Folders:
            </h2>
            {% if folders %}
            <ul>
                {% for folder in folders %}
                <li><a href="{{url_for('get_folder', organization_id=organization.id, folder_id=folder.id)}}">{{folder.name}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <em>There are no folders yet...</em>
            {% endif %}
            </br>
        </div>

        <div class="span9">
            <form class="form-horizontal" method="GET" action="{{url_for('upload_file', org_id=organization.id)}}">
                <div class="form-group">
                    <h2>
                        Recent Files:
                        <button class="btn-large btn-primary pull-right" type="submit">Upload!</button>
                    </h2>
                </div>
            </form>
            </br>
            {% if recent_files %}

            <div class="overflow-container">
            <table class="table table-striped span12">
                <tr>
                    <th>Author</th>
                    <th>Course</th>
                    <th>Term</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                {% for file in recent_files %}
                <tr style="border-radius:10px">
                <form method="POST" action="{{url_for('download', file_id=file.id)}}">
                    <td>{{file.author.name}}</td>
                    <td>{{file.course_tag}} {{file.course_id}}</td>
                    <td>{{file.folder.term}} {{file.folder.year}}</td>
                    <td>{{file.file_name}}</td>
                    <td><button class="btn" type="submit">Download</td>
                </form>
                </tr>
                {% endfor %}
            </table>
            </div>
            {% else %}
                <em>There are no files yet....</em>
            {% endif %}
        </div>
    </div>
{% endblock %}
