{% extends 'base.html' %}

{% block title %}
    <title>My Organizations</title>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2>Organizations I Administrate:</h2>
    </br>
    {% if admin_orgs %}
    <table class="table table-striped span2">
        <tr>
            <th>Organization</th>
        </tr>
        {% for org in admin_orgs %}
        <tr style="border-radius:10px">
            <td><a href="{{ url_for('display_org', id=org.id) }}">{{org.name}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <em>You are not a member of any organizations</em>
    {% endif %}
    </br></br>
    <h2>Organizations I am a Member Of:</h2>
    </br>
    {% if member_orgs %}
    <table class="table table-striped span2">
        <tr>
            <th>Organization</th>
        </tr>
        {% for org in member_orgs %}
        <tr style="border-radius:10px">
            <td>{{org.name}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <em>You are not a member of any organizations.</em>
    {% endif %}
{% endblock %}
</div>
